.weibo-content * {
    vertical-align: top;
    display: inline-block;
}

.weibo_show {
    position: relative;
    width: 70%;
    height: 830px;
}

.weibo_show .main{
    margin-top: 25px;
}

.content_us {
    width: 29%;
}

.content_us * {
    display: block;
}

.content_us .main {
    margin-top: 25px;
    height: 300px;
}

.content_us * {
    vertical-align: top;
    display: inline-block;
}

.content_us .imgs img {
    max-width: 300px;
}

.content_us .imgs p {
    margin-bottom: 20px;
    width: 80%;
    text-align: left;
}
