/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.project
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
composer.phar
error.log
Todo.rtf
.vagrant
*.list
public/img/
/npm-debug.log
npm-debug.log
public/build/css/font/
public/upload/
public/vendor/bin/
app/Http/Routes/Backend/Comments.php
resources/views/backend/comments.blade.php
